{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'images/ico.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Home</title>
    <style>
        /* Garantir que cada seção ocupe toda a altura da tela */
        section {
            min-height: 100vh; /* Altura mínima de 100% da janela */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; /* Impede o conteúdo de ultrapassar */
            flex-direction: column; /* Organiza o conteúdo verticalmente */
            text-align: center;
        }

        .bgH1{
            background: linear-gradient(to bottom, rgb(48,40,87) 45%, rgb(176,138,42));

        }

        .bgH2{
      background: linear-gradient(to bottom, rgb(176,138,42) 45%, rgb(48,40,87));        
  }

        /* Estilo do texto */
        h1, h2 {
            font-weight: bold;
        }

        /* Ajustes em formulários */
        input, textarea {
            max-width: 100%; /* Não ultrapassa a largura da seção */
        }

        /* Fazendo as colunas se ajustarem de forma responsiva */
        .col-md-4 {
            margin-bottom: 20px; /* Espaçamento entre colunas */
        }

        /* Ajuste de imagens */
        img {
            max-width: 100%;
            height: auto;
        }

.contFaleConosco {
    height: 100%; /* importante para o flex funcionar */
    min-height: 420px; /* altura mínima comum a todos */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribui conteúdo sem sair do limite */
}

    .modal-footer {
    border: none !important;
  }
  .modal-header{
    border-bottom: 2px rgb(48,40,87) solid;
  }

  .modal-content{
    padding: 2%;
       background-color: #44377d;
       color: #f4bf3a;
          font-family: Poppins, sans-serif;
  }

  .btnOk{
   background-color:#f4bf3a;  
        padding: 2%;
        /* margin-top: 5%; */
        padding-left:7% ;
        padding-right:7% ;
        font-size: 18px;
        color:rgb(48,40,87);
        font-weight: bold;
        border: 2px #f4bf3a solid ;
        a{
          color:rgb(48,40,87);
          text-decoration: none;
        }
  }

  .btnOk:hover{
        background-color:#44377d;
        border: 2px #f4bf3a solid ;
        a{
      color:#f4bf3a;
        }
    }

        /* Responsividade para todas as larguras de tela */


        @media (max-width: 1200px) {
            .col-lg-4 {
                margin-bottom: 20px;
            }
         
        }

        @media (max-width: 992px) {
            .col-md-4 {
                margin-bottom: 40px;
            }
        }

        @media (max-width: 768px) {
            .col-sm-6 {
                margin-bottom: 20px;
            }

             .contFaleConosco {
        min-height: 380px; /* um pouco menor no mobile */
    }
        }

        @media (max-width: 576px) {
            .col-12 {
                margin-bottom: 30px;
              
            }
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 1.2rem;
            }
        }

   
    </style>
</head>
<body id="bodyH">
  <nav>

    {% if pessoa %}
      <div id="menuHUser" style=" background-color: #312854;">
      <nav class="navbar">
          <div class="container-fluid">
              <div id="icone"> <img src="{% static 'images/ico.png' %}" height="200" width="200"> </div>
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="btnMenu">
                  <i class="bi bi-list" style="font-size: 30px;"></i> 
              </button>
          </div>
      </nav>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title fs-1 " id="offcanvasRightLabel" style="color: #f4bf3a;">TrainerBuddy</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <hr>
          <div class="offcanvas-body">
              <ul class="list-unstyled fs-5">
              
                  <li><a href="{% url 'home' %}#planos" class="nav-link">Planos</a></li>
                  <li><a href="{% url 'exercicios' %}" class="nav-link">Exercícios</a></li>
                  <li><a href="{% url 'treinos' %}" class="nav-link">Treinos</a></li>
                  {% if pessoa.id_plano == 2 or pessoa.id_plano == 3 %}
                  <li><a href="{% url 'montagem_treinos' %}" class="nav-link">Montagem de Treinos</a></li>
                  {% else %}
                  <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalAssMT" class="nav-link">Montagem de Treinos</a></li>
                  {% endif %}
                  {% if pessoa.id_plano == 2 or pessoa.id_plano == 3 %}
                  <li><a href="{% url 'meus_treinos' %}" class="nav-link">Meus Treinos</a></li>
                  {% endif %}
                  <li style="margin-top: 5%;"><a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal" class="nav-link">Logout</a></li>
              </ul>
          </div>
      </div>
      </div>

    {% else %}
      <div id="menuH">
        <div id="icone"> <img src="{% static 'images/ico.png' %}" height="150" width="150"> </div>
        <div class="myItens" id="itensB" ><a href="#planos"> Planos</a> </div>
        <div  class="myItens" id="itensA"> <a href="{% url 'treinos' %}" data-bs-toggle="modal" data-bs-target="#modalTreinoCad" >Treinos </a></div>
        <div class="myItens" id="itensA"> <a href="{% url 'exercicios' %}" data-bs-toggle="modal" data-bs-target="#modalExCad"> Exercícios</a> </div>

        <div class="row justify-content-end" id="itensEnd">
            <div class="col-4">
                <div class="myItens" id="itensB"><a href="{% url 'cadastro' %}"  >Cadastro</a></div>
            </div>
            <div class="col-4">
                <div class="myItens" id="itensA"><a href="{% url 'login' %}">Login</a></div>
            </div>
        </div>
      </div>

      <div id="menuHsm">
      <nav class="navbar">
          <div class="container-fluid">
              <div id="icone"> <img src="{% static 'images/ico.png' %}" height="100" width="100"> </div>
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="btnMenu">
                  <i class="bi bi-list" style="font-size: 30px;"></i> 
              </button>
          </div>
      </nav>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title fs-1 " id="offcanvasRightLabel" style="color: #f4bf3a;">TrainerBuddy</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <hr>
          <div class="offcanvas-body">
              <ul class="list-unstyled fs-5">
                  <li><a href="{% url 'home' %}#planos" class="nav-link">Planos</a></li>
                  <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalExCad" class="nav-link">Exercícios</a></li>
                  <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalTreinoCad" class="nav-link">Treinos</a></li>
                  <li style="margin-top: 5%;"><a href="{% url 'cadastro' %}" class="nav-link">Cadastro</a></li>
                  <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
              </ul>
          </div>
      </div>
      </div>

    {% endif %}
  
  </nav>

    <section id="home" class="bgH1 text-white">
       <div class="container d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 p-4">
               
                  <img src="{% static 'images/TrainerBuddy.png' %}" style="width: 100%;" >
                  <h6 class="fw-lighter fw-medium fs-5" style="color: white; font-size: 35px">Seu parceiro de treinos inteligente!</h6>
                  {% if pessoa %}
                    <div class="fw-bold boraTreinar rounded-pill  fs-5" ><a href="{% url 'treinos' %}">Bora treinar :)</a> </div>
                  {% else %}
                    <div class="fw-bold boraTreinar rounded-pill  fs-5" ><a href="{% url 'cadastro' %}">Bora treinar :)</a> </div>
                  {% endif %}

                  {% if pessoa %}
                  <p>Seja bem vindo(a), {{pessoa.nome_usuario}}</p>
                  {% endif %}
        
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/buddy.png'%}" class="img-fluid" width="70%" >
            </div>
        </div>
    </div>
    </section>

    <!-- Seção 2: Conteúdo -->
    <section class="bgH2 text-white" id="secao2">
      
        <div class="row  g-0 bg-transparent position-relative w-60">
            
            <div class="row g-0 bg-transparent position-relative w-60">
                <div class="col-xl-6 col-lg-12 col-md-12 ">
               
                <img src="{% static 'images/exercicioDia.png' %}" style="width: 100%;">
                
        
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 p-4 ps-md-0" >
              <div class="p-3 myContainerE rounded-5">
                {% if pessoa %}
                <a href="{% url 'exercicio' exercicio.id_exercicios %}">
                  <img src="{{exercicio.imagem.url}}" class="img-fluid" style="width: 500px;">
                  <p class="fw-bold" style="font-size: 25px; padding: 3%;">{{exercicio.nome_exercicio}}</p>
                </a>
                <button type="button" class="btn rounded-pill btnSalvarT fs-2" style="font-size: 25px;"><a href=" {%url 'exercicio' exercicio.id_exercicios%}">Mais Detalhes ᕙ(`▿´)ᕗ</a></button>
                {% else %}
                <a href="" data-bs-toggle="modal" data-bs-target="#modalExCad">
                  <img src="{{exercicio.imagem.url}}" class="img-fluid" style="width: 500px;">
                  <p class="fw-bold" style="font-size: 25px; padding: 3%;">{{exercicio.nome_exercicio}}</p>
                </a>
                <button type="button" class="btn rounded-pill btnSalvarT fs-2" style="font-size: 25px;"><a href="" data-bs-toggle="modal" data-bs-target="#modalExCad">Mais Detalhes ᕙ(`▿´)ᕗ</a></button>
                {% endif %}
              </div>
            </div>
        </div>
   
       
    </section>

  
    <section class="bgH1 text-white" id="planos">
       <div class="row" style="padding-top: 4%;"> 
            <div class="col-12">
            <img src="{% static 'images/nossosPlanos.png' %}" style="width: 80%;">
        </div>
        </div>

                       <div class="row text-uppercase" style="padding: 2%;">
            {% for plano in planos %}
           <div class="col-lg-4 col-12 d-flex  justify-content-center align-items-center" >
                <div class="p-5 myContainerE rounded-5 text-center">
                    <img src="{% static 'images/ico.png' %}" class="img-fluid mb-3" style="width: 300px;" >
                    <p class="fw-bold" style="font-size: 30px;">{{plano.nome_plano}}</p>
                    {% if pessoa and pessoa.id_plano != plano.id_plano %}
                      <button type="button" class="btn rounded-pill btnSalvarT" style="font-size: 25px;"><a href="{% url 'pagamento' plano.id_plano %}">Assine aqui</a></button>
                    {% elif pessoa and pessoa.id_plano == plano.id_plano %}
                      <button type="button" class="btn rounded-pill btnSalvarT" style="font-size: 25px;" data-bs-toggle="modal" data-bs-target="#modalCadPlanDif"><a>Assine aqui</a></button>
                    {% else %}
                      <button type="button" class="btn rounded-pill btnSalvarT" style="font-size: 25px;" data-bs-toggle="modal" data-bs-target="#modalCadPlan"><a>Assine aqui</a></button>
                    {% endif %}
                  </div>
            </div>
            {% endfor %}
        </div>


       
    </section>

    <!-- Seção 4: Rodapé ou Contato -->
    <section class="bgH2" id="contact">
      
     <div class="row" style="padding-top: 4%;"> 
            <div class="col-12">
            <img src="{% static 'images/faleConosco.png' %}" style="width: 80%;">
        </div>
        </div>

                       <div class="row text-uppercase" style="padding: 1%;">
            
           <div class="col-xl-3 col-lg-6  col-md-6 col-12 d-flex mb-3 justify-content-center align-items-center" >
              <div class="p-5 myContainerE rounded-5 text-center contFaleConosco">
                            
                                <img src="{% static 'images/helena.png' %}" class="img-fluid rounded mb-3">
                                <p class="fw-bold" style="font-size: 18px;">Helena Petruz</p>
                                   <p class="fw-medium" style="font-size: 17px; color: white;">cl203253@g.unicamp.br</p>

                                   <p class="fw-medium" style="font-size: 16px;">
                                <i class="bi bi-github" style="margin-right: 1%; font-size: 20px; "></i>HelenaPetruz</p>
                            </div>
            </div>

            <div class="col-xl-3 col-lg-6  col-md-6 col-12 d-flex mb-3 justify-content-center align-items-center" >
              <div class="p-5 myContainerE rounded-5 text-center contFaleConosco">
                              
                                <img src="{% static 'images/lavinia.png' %}" class="img-fluid rounded mb-3" >
                                <p class="fw-bold" style="font-size: 18px;">Lavínia Lins Lima</p>
                                <p class="fw-medium" style="font-size: 17px; color: white;">cl203230@g.unicamp.br</p>
                                <p class="fw-medium" style="font-size: 16px;">
                                    <i class="bi bi-github" style="margin-right: 1%; font-size: 20px; "></i>LaviniaLins</p>
                            </div>
            </div>

             <div class="col-xl-3 col-lg-6  col-md-6 col-12 d-flex mb-3 justify-content-center align-items-center" >
              <div class="p-5 myContainerE rounded-5 text-center contFaleConosco">
                             
                                <img src="{% static 'images/luana.png' %}" class="img-fluid rounded mb-3" >
                                <p class="fw-bold" style="font-size: 18px;">Luana Fernanada de Napoli</p>
                               <p class="fw-medium" style="font-size: 17px; color: white;">cl203013@g.unicamp.br</p>
                               <p class="fw-medium" style="font-size: 16px;">
                                <i class="bi bi-github" style="margin-right: 1%; font-size: 20px; "></i>Luana-napoli</p>
                            </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-12 d-flex mb-3 justify-content-center align-items-center" >
              <div class="p-5 myContainerE rounded-5 text-center contFaleConosco">
                             
                                <img src="{% static 'images/maria.png' %}" class="img-fluid rounded mb-3">
                                <p class="fw-bold" style="font-size: 18px;">Maria Peracini Barbosa</p>
                               <p class="fw-medium" style="font-size: 17px; color: white;">cl203218@g.unicamp.br</p>
                               <p class="fw-medium" style="font-size: 16px;">
                                <i class="bi bi-github" style="margin-right: 1%; font-size: 20px; "></i>MaPeracini</p>
                            </div>
            </div>
        </div>
    </section>

<!-- Modal de confirmação de logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
      </div>
      <div class="modal-body">
        Já vai? :( Você tem certeza que deseja sair?
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn rounded-5 btnOk" data-bs-dismiss="modal">Sair</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- exercícios -->
<div class="modal fade" id="modalExCad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
     Cadastre-se agora para ver nossa coleção de exercícios ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
      </div>
    </div>
  </div>
</div>

<!-- treinos -->
<div class="modal fade" id="modalTreinoCad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
    Se cadastre para acessar nossos treinos ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
      </div>
    </div>
  </div>
</div>

<!-- planos -->
<div class="modal fade" id="modalCadPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
  Ops, se cadastre antes de escolher um plano ;)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
      </div>
    </div>
  </div>
</div>

<!-- plano diferente  -->
<div class="modal fade" id="modalCadPlanDif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
   Ops, selecione um plano diferente do atual ;)
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- montagem de treinos -->
<div class="modal fade" id="modalAssMT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
   Ops, você precisa de uma assinatura ativa para montar treinos :(
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal"><a href="{% url 'home' %}#planos ">Ver planos</a></button>
        <!-- <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">Assinar</button> -->
      </div>
    </div>
  </div>
</div>

<!-- assisnatura feita -->
<div class="modal fade" id="modalAssFeita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
     Yeah! Agora você tem um personal trainer! ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% if assinatura_feita %}
<script>
  window.onload = function() {
    var modal = new bootstrap.Modal(document.getElementById('modalAssFeita'));
    modal.show();
  };
</script>
{% endif %}

    <!-- cadastro sucesso -->
<div class="modal fade" id="modalCadFeito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
        Yeah!! cadastro realizado com sucesso ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% if cadastro_sucesso %}
<script>
  window.onload = function() {
    var modal = new bootstrap.Modal(document.getElementById('modalCadFeito'));
    modal.show();
  };
</script>
{% endif %}


<!-- login -->
<div class="modal fade" id="modalLoginFeito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
     Yeah!! login realizado com sucesso, que bom te ver novamente ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% if login_sucesso %}
<script>
  window.onload = function() {
    var modal = new bootstrap.Modal(document.getElementById('modalLoginFeito'));
    modal.show();
  };
</script>
{% endif %}


<!-- fim de treino -->
<div class="modal fade" id="modalTreinoTerm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
      </div>
      <div class="modal-body">
        Parabéns, treino concluído!! ᕙ(`▿´)ᕗ
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% if fim_de_treino %}
<script>
  window.onload = function() {
    var modal = new bootstrap.Modal(document.getElementById('modalTreinoTerm'));
    modal.show();
  };
</script>
{% endif %}



    <!-- Importando os scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
