{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <link rel="icon" href="{% static 'images/ico.ico' %}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <link rel="stylesheet" href="{% static 'style.css' %}">

<style>
     
  
  .modal-footer {
    border: none !important;
  }
  .modal-header{
    border-bottom: 2px rgb(48,40,87) solid;
  }

  .modal-content{
    padding: 2%;
       background-color: #44377d;
       color: #f4bf3a;
          font-family: Poppins, sans-serif;
  }

  .btnOk{
   background-color:#f4bf3a;  
        padding: 2%;
        /* margin-top: 5%; */
        padding-left:7% ;
        padding-right:7% ;
        font-size: 18px;
        color:rgb(48,40,87);
        font-weight: bold;
        border: 2px #f4bf3a solid ;
        a{
          color:rgb(48,40,87);
          text-decoration: none;
        }
  }

  .btnOk:hover{
        background-color:#44377d;
        border: 2px #f4bf3a solid ;
        a{
      color:#f4bf3a;
        }
    }

    .btn-check:checked + label .myContainerPE {
  border: 3px solid #FFD700;
  background-color: #2e1b4f; /* tom mais escuro */
}

    </style>

    <title>Login</title>
</head>
<body id="bodyL">

	<div class="backL">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            
            <div class="col-md-6 col-12 p-5 rounded-5" id="containerFormL" >
                <div class="text-center">
                  <img src="{%static 'images/ico.png' %}" width="30%">
                </div>
                <form method="POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="col-12 position-relative">
                      <label for="userL" class="form-label">E-mail:</label>
                      <input name="email" type="email" class="form-control rounded-pill" id="userL" placeholder="exemplo@dominio.com" required />
                      <div class="invalid-tooltip">
                        Por favor, insira um e-mail válido.
                      </div>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="userL" class="form-label">E-mail:</label>
                        <input type="email" name="email" class="form-control rounded-pill" id="userL" >
                    </div> -->
                    
                    <div class="col-12 position-relative">
                      <label for="passwordL" class="form-label">Senha:</label>
                      <input name="senha" type="password" required minlength="6" class="form-control rounded-pill" id="passwordL" required />
                      <div class="invalid-tooltip">
                        Ops,  insira uma senha válida :( 
                      </div>
                    </div>

                    <div class="text-center mt-3 ">
                      <p class="fs-6 text-decoration-underline"> Recupere sua senha aqui :)</p>
                    </div>
                    
                    <!-- <div class="mb-3">
                        <label for="passwordL" class="form-label">Senha:</label>
                        
                        <input type="password" name="senha" class="form-control rounded-pill" id="passwordL">
                    </div> -->
                    
                    <div class="col-12 text-center mt-3">
                      <button type="submit" class="btn btn-primary rounded-pill" id="btnEntrarL">Entrar</button>
                    </div>
                
                </form>
                <div class="text-center mt-3">
                 <p>Ou cadastre se <a href="{% url 'cadastro' %}">aqui</a></p>
                </div>
            </div>
            <div class="col-md-6 d-flex  justify-content-center align-items-center" id="divBuddyL">
                <img src="{% static 'images/buddy.png' %}" class="img-fluid" width="67%" >
            </div>
        </div>
    </div>
</div>


  {% if messages %}
  {% for message in messages %}

<div class="modal fade" id="messageModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="messageModalLabel{{ forloop.counter }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.getElementById('messageModal{{ forloop.counter }}'));
        modal.show();
      });

    </script>
  {% endfor %}
{% endif %}

<!-- {% if messages %}
  {% for message in messages %}
    <div class="modal fade" id="messageModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="messageModalLabel{{ forloop.counter }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="messageModalLabel{{ forloop.counter }}">Erro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">{{ message }}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.getElementById('messageModal{{ forloop.counter }}'));
        modal.show();
      });

    </script>
  {% endfor %}
{% endif %} -->


<script>
  // Script para validação 
  (() => {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>