{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'images/ico.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>
     
  
  .modal-footer {
    border: none !important;
  }
  .modal-header{
    border-bottom: 2px rgb(48,40,87) solid;
  }

  .modal-content{
    padding: 2%;
       background-color: #44377d;
       color: #f4bf3a;
          font-family: Poppins, sans-serif;
  }

  .btnOk{
   background-color:#f4bf3a;  
        padding: 2%;
        /* margin-top: 5%; */
        padding-left:7% ;
        padding-right:7% ;
        font-size: 18px;
        color:rgb(48,40,87);
        font-weight: bold;
        border: 2px #f4bf3a solid ;
        a{
          color:rgb(48,40,87);
          text-decoration: none;
        }
  }

  .btnOk:hover{
        background-color:#44377d;
        border: 2px #f4bf3a solid ;
        a{
      color:#f4bf3a;
        }
    }

    </style>

    <title>Página do treino</title>
   
</head>
<body id="bodyT">
  
    
 

<div id="menuMT">
  <nav class="navbar">
      <div class="container-fluid">
        <div id="icone"><a href="{% url 'home' %}" ><img src="{% static 'images/ico.png' %}" height="150" width="150"></a> </div>
          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="btnMenu">
              <i class="bi bi-list" style="font-size: 30px;"></i> 
          </button>
      </div>
  </nav>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-1 " id="offcanvasRightLabel" style="color: #f4bf3a;">TrainerBuddy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <hr>
      <div class="offcanvas-body">
        <ul class="list-unstyled fs-5">
                  
          <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
          <li><a href="{% url 'home' %}#planos" class="nav-link">Planos</a></li>
          <li><a href="{% url 'exercicios' %}" class="nav-link">Exercícios</a></li>
          <li><a href="{% url 'treinos' %}" class="nav-link">Treinos</a></li>
          <li><a href="{% url 'montagem_treinos' %}" class="nav-link">Montagem de Treinos</a></li>
          <li><a href="{% url 'meus_treinos' %}" class="nav-link">Meus Treinos</a></li>
        
        

          <li style="margin-top: 5%;"><a href="{% url 'cadastro' %}" class="nav-link">Cadastro</a></li>
          <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
      </ul>
      </div>
  </div>
  </div>
       
 
             <div class="container-fluid col-12" style="position: relative;
    top:-100px; ">
              
            <div class="row " style="padding-bottom: 2%;  ">
               
                <div class="col-lg-3 col-md-12 rounded-5">
                    
                  <div class="centralized-container">
                            <div class="p-5 myContainerT rounded-5 text-center" style="width: 90%;">
                                <img src="{% static 'images/ico.png' %}" class="img-fluid mb-3">
                                <p class="fw-bold">Core</p>
                                <button type="submit" class="btn rounded-pill btnSalvarT">Salvar</button>
                            </div>
                      </div>
                   
                </div>
    
                          
                <div class="col-lg-9 col-md-12" style="margin-top: 10%;">
                
                  <div class="row" style="margin-bottom: 2%;">
                    <div class="col-12" >
                        <h1 class="fw-bold text-center"  id="titleT">{{treino.nome_treino}}</h1>
                    </div>

                     
                  </div>
                 
                    <div class="row">
                      
                        <div class="col-12 text-center " >
                    	 
                        
        <div class="scroll-containerPE rounded-top" >
          {% for exercicio in exercicios %}
          <div class="scroll-item">
              <div class="p-3 myContainerPE rounded-5">
                  <img src="{{ exercicio.imagem.url }}" class="img-fluid">
                  <p class="fw-bold">{{ exercicio.nome_exercicio }}</p>
                  <div style="display: flex; justify-content: center; gap: 5px;">
                      {% for rel in rels %}
                          {% if rel.id_exercicio == exercicio.id_exercicios %}
                              <p class="fw-bold" id="numero_series">{{ rel.numero_series }}</p>
                              <p class="fw-bold">X</p>
                              <p class="fw-bold" id="numero_repeticoes">{{ rel.numero_repeticoes }}</p>
                          {% endif %}
                      {% endfor %}
                  </div>
              </div>
          </div>
      {% endfor %}
	  		</div>
                    	</div>

                        <div class="row  justify-content-center">
                            <div class="col-lg-6 col-12 text-center" >
                             <a href="{% url 'treino_guiado' treino.id_treino %}" type="button" class="btn rounded-pill " id="btnTreinar">Treinar</a>
                           </div>
                         <div class="col-lg-6 col-12 text-center" >
                          
                            {% if pessoa.id_plano == 1 or pessoa.id_plano == 2 %}
                            
                                <a href="{% url 'treinoia' treino.id_treino %}" type="button" class="btn rounded-pill " id="btnTreinarIA">Treinar com IA</a>
                            {% else %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalPremiumTIA" type="button" class="btn rounded-pill " id="btnTreinarIA">Treinar com IA</a>
                            {% endif %}
                           </div>
                       </div>

                </div>
                </div>
            </div>
        </div>

    
<!-- recurso premium -->
<div class="modal fade" id="modalPremiumTIA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
    <div class="modal-content rounded-5">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="exampleModalLabel">Aviso do Buddy</h3>
       
      </div>
      <div class="modal-body">
   Seja um dos nossos alunos Premium para usar esse recurso!! ᕙ(`▿´)ᕗ
      </div>
      <div class="modal-footer">
        <!-- ver se é melhor assinar ou planos -->
        <button type="button" class="btn rounded-5 btnOk" data-bs-dismiss="modal"><a href="{% url 'home' %}#planos ">Ver planos</a></button>
      </div>
    </div>
  </div>
</div>

        <!-- Importando os scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>       
</body>
</html>